@charset "utf-8";
/* コメント　*/

.startbutton{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.defence{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 30px;
    padding-bottom: 30px;
}
.defence_sign{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: darkslateblue;
}
.offense{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: darkred;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
}

img{
    width: 300px;
    height: 150px;
}

.remain{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}


